// Colors
$darkPurple: #5c144d;
$lightPurple: #7d276b;
$redOrange: #b94000;
$red: #951605;
$darkRed: #77260b;
$orange: #d1320b;
$lightOrange: #fd5900;
$peach: #df9b76;
$black: #292520;
$gray: #413a31;
$white: #efd5cd;
$whiteOutline: #bba199;
$darkGreen: #213721;
$green: #175617;

